<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1 id="title">Development Prototype</h1>

    <div id="messages">
            <div id="chatbox"></div>
    </div>

    <div id="inputs">
        <textarea id="text_input" name="msg" rows="2" placeholder=""></textarea>
        <div id="divider"></div>
        <input id="submit_button" type="submit" value="↑">
    </div>

<script>
    function getResponse() {
        let userText = $("#text_input").val();
        let userHTML = '<p class="user_text">' + userText + '</p>';
        $("#text_input").val("");
        $("#chatbox").append(userHTML);
        $.get("/get_response", { msg: userText }).done(function(data) {
        let botHTML = '<p class="bot_text">' + data + '</p>';
        $("#chatbox").append(botHTML);
});
}

    $("#text_input").keypress(function(e) {
    //if enter key is pressed
        if(e.which == 13) {
            getResponse();
        }
    });

    $("#submit_button").click(function() {
        getResponse();
    });

    $(document).ready(function() {
        $.post("/reset_conversation");
    })
    </script>
</div>
</body>
</html>