body {
    background-color: #FFE8CC;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 2vw;
    justify-content: center;
}

#title{
    margin-top: 0px;                 /* p has a default top & bottom margin of 1em */
    margin-bottom: 0px;
    font-family: -apple-system;
    color: gray;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
}

#text_input {
    padding: 0px;
    margin: 0.8rem;
    background-color: transparent;
    color: white;
    font-family: -apple-system;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
    border: 0px;
    flex-grow: 1;
    outline:none;
    -webkit-appearance: none;
}

#submit_button {
    padding: 0px;
    color: white;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: normal;
    text-align:center;
    width: 3.5rem;
    border: none;
}

#submit_button:hover {
  opacity: 0.7;
}

#submit_button:active {
  opacity: 0.2;
}

#inputs{
    margin-right: 4vw;
    margin-left: 4vw;
    background-color: black;
    box-shadow: 0px 0.1rem 0.3rem gray;
    border-radius: 10px;
    display: flex;
    text-align:center;      /* text-align of an element only affects its child elements */
}

#divider{
    width: 0.16rem;
    background-color: gray;
}

#messages {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 4vw;
    padding-left: 4vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    height: 64vh;
}

.user_text {
    margin-top: 1rem;                 /* p has a default top & bottom margin of 1em */
    margin-bottom: 1rem;
    color: black;
    font-family: -apple-system;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: left;
}

.bot_text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: gray;
    font-weight: bold;
    font-family: -apple-system;
    font-size: 2.2rem;
    text-align: right;
}